.vehicle-label {
    font-family: var(--sja-header-font);
    padding: 0 5px;
}

.trend-value {
    width: 100%;
    display: inline-flex;
    justify-content: end;
    align-items: center;
}

.status-value {
    text-align: center;
}

.status-col {
    text-align: center;
}

.avail-col {
    width: 8.5rem;
}
