@page "/vehicles"

@using Microsoft.AspNetCore.Authorization
@using SjaInNumbers.Client.Components

@attribute [Authorize(Policy = "Lead")]

<GeneralErrorHandler>
    <h2>Vehicles</h2>
    <HomeLink />

    <LinkBoxes Size="LinkBoxSize.Small">
        <LinkBox IsLink="true" Link="/vehicles/NorthEast">North East</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/NorthWest">North West</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/EastMidlands">East Midlands</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/WestMidlands">West Midlands</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/EastOfEngland">East of England</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/London">London</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/SouthEast">South East</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/SouthWest">South West</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/national" Colour="LinkBoxColour.Yellow">National</LinkBox>
        <LinkBox IsLink="true" Link="/vehicles/setup" Colour="LinkBoxColour.DarkGreen">Setup</LinkBox>
    </LinkBoxes>
</GeneralErrorHandler>

@code {

}
