.icon {
    width: 1rem;
    height: 1rem;
}

.area-list {
    padding: 0;
}

    .area-list li {
        list-style-type: none;
        padding: var(--root-padding);
    }

    .area-list ul {
        padding: var(--root-padding);
    }

.area-section-list li {
    cursor: pointer;
}

.area-section:not(:hover) .icon {
    filter: invert();
}

.area-section {
    background-color: var(--sja-black);
    color: var(--sja-black-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .area-section span, .area-section-list li {
        display: flex;
        align-items: center;
    }

.area-list .icon {
    margin-left: var(--root-padding);
    margin-right: var(--root-padding);
}

.filter-section > h3 > button,
.area-section > span > button {
    background-color: var(--sja-dark-green);
    color: var(--sja-dark-green-text);
    border: none;
    font-family: var(--sja-header-font);
    cursor: pointer;
    margin: var(--root-padding);
    font-size: 1.25rem;
    user-select: none;
}

.area-section-list li.selected {
    background-color: var(--sja-light-yellow);
    color: var(--sja-light-yellow-text);
}

.area-section-list li:hover {
    background-color: var(--sja-light-gray);
    color: var(--sja-light-gray-text);
    user-select: none;
}

.area-list > li:not(.area-section) {
    padding: 0;
}

.area-section {
    cursor: pointer;
    user-select: none;
}

    .area-section:hover {
        background-color: var(--sja-yellow);
        color: var(--sja-yellow-text);
    }

ul.area-section-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding: 0;
}

.area-section-list.expanded {
    max-height: 310px;
}
