@using SJAData.Client.Model.People
<h3>@Title</h3>
<table class="activity-trends">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hours this Year</th>
            <th>Last 12 Months</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Reports)
        {
            <PersonRow Report="@r" />
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public IList<PersonReport> Reports { get; set; } = [];
}
