.link-box {
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-family: var(--sja-header-font);
    text-transform: uppercase;
}

.link-boxes-large .link-box {
    height: calc(var(--box-height) - 2 * var(--box-padding));
    justify-content: space-between;
    flex-direction: column;
    font-size: 2rem;
    padding: var(--box-padding) 0;
    align-items: center;
}

.link-boxes-small .link-box {
    height: calc(var(--box-height) / 2);
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.link-box-green {
    background-color: var(--sja-green);
    color: var(--sja-green-text);
}

.link-box-dark-green {
    background-color: var(--sja-dark-green);
    color: var(--sja-dark-green-text);
}

.link-box-yellow {
    background-color: var(--sja-yellow);
    color: var(--sja-yellow-text);
}

.link-box-light-gray {
    background-color: var(--sja-light-gray);
    color: var(--sja-light-gray-text);
}

.link-box-black {
    background-color: var(--sja-black);
    color: var(--sja-black-text);
}
