@using SjaInNumbers.Shared.Model.People

<h3>@Title</h3>
<table class="activity-trends">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hours this Year</th>
            <th>Last 12 Months</th>
        </tr>
    </thead>
    <tbody>
        @if (IsLoading == true)
        {
            @for (var i = 0; i < 6; i++)
            {
                <tr>
                    <td><span class="loading-control wide" /></td>
                    <td><span class="loading-control" /></td>
                    <td><span class="loading-control" /></td>
                </tr>
            }
        }
        else
        {
            @foreach (var r in Reports)
            {
                <PersonRow Report="@r" />
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public IList<PersonReport> Reports { get; set; } = [];

    [Parameter]
    public bool? IsLoading { get; set; }
}
