:root {
  --sja-black: black;
  --sja-black-text: white;
  --sja-yellow: #e1e000;
  --sja-yellow-text: black;
  --sja-green: #009f4d;
  --sja-green-text: white;
  --sja-dark-green: #007a53;
  --sja-dark-green-text: white;
  --sja-gray: #97999b;
  --sja-gray-text: black;
  --sja-light-yellow: #fbf8c3;
  --sja-light-yellow-text: black;
  --sja-light-green: #d1e7d2;
  --sja-light-green-text: black;
  --sja-light-dark-green: #bfdfd2;
  --sja-light-dark-green-text: black;
  --sja-light-gray: #e7e7e9;
  --sja-light-gray-text: black;
  --sja-header-font: "Whitney SemiBold", arial, sans-serif;
  --sja-body-font: "Whitney Book", arial, sans-serif;
  --root-padding: 5px;
  --box-height: 200px;
  --box-padding: 40px;
  --box-spacing: 20px;
  --min-box-width: 300px;
}

html {
  min-height: 100vh;
  font-family: var(--sja-body-font);
  background-image: url("/img/sja-back.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

h1 {
  background-color: var(--sja-black);
  color: var(--sja-black-text);
  font-family: var(--sja-header-font);
  font-weight: 600;
  width: auto;
  padding: var(--root-padding) calc(var(--root-padding) * 2);
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  max-width: fit-content;
}

h2 {
  background-color: var(--sja-yellow);
  color: var(--sja-yellow-text);
  font-family: var(--sja-header-font);
  font-weight: 600;
  margin-top: 0;
  padding: var(--root-padding) calc(var(--root-padding) * 2);
  display: block;
  max-width: fit-content;
}

h3 > a {
  color: var(--sja-black);
  text-decoration: none;
}

h3 > a:visited {
  color: var(--sja-black);
}

h3 > a:hover {
  color: var(--sja-gray);
}

.planned {
  font-size: 1.5rem;
  text-transform: none;
  font-family: var(--sja-body-font);
  font-weight: normal;
}

.see {
  font-size: 1.5rem;
  vertical-align: super;
  line-height: 1;
}

.area-list li {
  list-style-type: none;
  padding: var(--root-padding);
}

.area-list ul {
  padding: var(--root-padding);
}

.area-section-list li {
  cursor: pointer;
}

li.area-section {
  background-color: var(--sja-black);
  color: var(--sja-black-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section > h3 > button,
li.area-section > span > button {
  background-color: var(--sja-dark-green);
  color: var(--sja-dark-green-text);
  border: none;
  font-family: var(--sja-header-font);
  cursor: pointer;
  margin: var(--root-padding);
  font-size: 1.25rem;
}

.area-section-list li:hover {
  background-color: var(--sja-light-gray);
  color: var(--sja-light-gray-text);
}

ul.area-list > li:not(.area-section) {
  padding: 0;
}

.area-section {
  cursor: pointer;
}

li.area-section:hover {
  background-color: var(--sja-yellow);
  color: var(--sja-yellow-text);
}

ul.area-section-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding: 0;
}

.area-section-list.expanded {
  max-height: 310px;
}

.last-update {
  color: var(--sja-gray);
}

.footer-image {
  background-image: url("/img/sja-bottom.svg");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: calc(100% + 16px);
  height: 5mm;
  margin: -8px;
  margin-top: auto;
}

body {
  min-height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filter-section h3 {
  display: flex;
  justify-content: space-between;
}
