<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="manifest.json" rel="manifest" />
    <link href="SjaInNumbers.Server.styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="/_content/Blazor-ApexCharts/js/blazor-apexcharts.js?ver=4" as="script" crossOrigin="anonymous" />
    <link rel="preload" href="/_content/Blazor-ApexCharts/js/apexcharts.esm.js?ver=3.54.0" as="script" crossOrigin="anonymous" />
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.web.js"></script>
    <script src="service-worker-register.js"></script>
</body>

</html>
