@page "/people"

@using Microsoft.AspNetCore.Authorization
@using SjaInNumbers.Client.Components

@attribute [Authorize(Policy = "Lead")]

<PageTitle>SJA In Numbers - People</PageTitle>

<h2>People</h2>
<HomeLink />

<LinkBoxes Size="LinkBoxSize.Small">
    <LinkBox IsLink="true" Link="/people/NorthEast">North East</LinkBox>
    <LinkBox IsLink="true" Link="/people/NorthWest">North West</LinkBox>
    <LinkBox IsLink="true" Link="/people/EastMidlands">East Midlands</LinkBox>
    <LinkBox IsLink="true" Link="/people/WestMidlands">West Midlands</LinkBox>
    <LinkBox IsLink="true" Link="/people/EastOfEngland">East of England</LinkBox>
    <LinkBox IsLink="true" Link="/people/London">London</LinkBox>
    <LinkBox IsLink="true" Link="/people/SouthEast">South East</LinkBox>
    <LinkBox IsLink="true" Link="/people/SouthWest">South West</LinkBox>
    <LinkBox Colour="LinkBoxColour.Yellow" IsLink="true" Link="/people/Undefined">Other</LinkBox>
</LinkBoxes>
