@page "/terms"

<PageTitle>SJA in Numbers - Terms and Conditions</PageTitle>

<h2>Terms and Conditions</h2>

<p>
    These Terms and Conditions are the contract between you and Tony Richards ("us", "we", etc.),
    the owner of this website.  By visiting or using our website, you agree to be bound by them.
</p>
<p>
    They are based on a set written by Net Lawman and released under licence. They protect your
    rights as well as ours.
</p>
<p>
    I am Tony Richards, the author of this website, contactable at
    <a href="mailto:@ContactEmail">@ContactEmail</a> or by post to 20 Birbeck Rd, Caldicot, Monmouthshire,
    NP26 4DX.
</p>
<p>
    <strong>
        You are: Anyone who uses Our Website.
    </strong>
</p>
<p>
    Please read this agreement carefully and save it. If you do not agree with it, you should
    leave Our Website immediately.
</p>
<p>
    <strong>
        These are the agreed terms:
    </strong>
</p>
<h3>1. Definitions</h3>
<dl>
    <dt>Consumer</dt>
    <dd>
        Means any individual who, in connection with this agreement, is acting for a purpose
        which is outside his business.
    </dd>
    <dt>
        Content
    </dt>
    <dd>
        Means the textual, visual or aural content that is encountered as part of your experience
        on Our Website. It may include, among other things: text, images, sounds, videos and
        animations. It includes content Posted by you.
    </dd>
    <dt>
        Membership
    </dt>
    <dd>
        Means any service we provide, whether through Our Website or otherwise. It includes the
        membership service we provide as set out on Our Website and in this contract.
    </dd>
    <dt>
        Post
    </dt>
    <dd>
        Means display, exhibit, publish, distribute, transmit and/or disclose information,
        Content and/or other material on Our Website, and the phrases "Posted" and "Posting"
        shall be interpreted accordingly.
    </dd>
    <dt>
        Services
    </dt>
    <dd>
        Means all of the services available from Our Website, whether free or charged.
    </dd>
    <dt>
        Our Website
    </dt>
    <dd>
        Means any website or service designed for electronic access by mobile or fixed devices
        which is owned or operated by us.  It includes all web pages controlled by us.
    </dd>
</dl>
<h3>2. Our Contract</h3>
<p>
    These terms and conditions regulate the business relationship between you and us.
    By buying CrewLog Membership or using Our Website free of charge, you agree to be bound by them.
</p>
<p>
    We do not offer the Services in all countries. We may refuse to provide the Services if you live
    in a country we do not serve.
</p>
<p>
    In entering into this contract you have not relied on any representation or information from any
    source except the definition and explanation of the Services given on Our Website.
</p>
<p>
    Subject to these terms and conditions, we agree to provide to you some or all of the Services
    described on Our Website at the prices we charge from time to time.
</p>
<p>
    Our contract with you and licence to you for free use of this website lasts until you close
    your account or it is deemed by us as no longer in use.  We will notify you of any changes
    to these terms.  Your continued use of our services after that shall be deemed acceptance
    by you of the changed Service, system and/or terms.
</p>
<p>
    Our contract with you and licence to you for use of any paid-for aspects of this website last
    until you close your account, or it is deemed by us that your account is no longer in use,
    or the length agreed at the time of payment elapses.  Any continuation by us or by you
    after this expiry is a new contract under the terms then posted on Our Website.  Your continued
    use of our services after that shall be deemed acceptance by you of the changed Service,
    system and/or terms.
</p>
<p>
    The contract between us for free use of Our Website comes into existence when you register your
    account.
</p>
<p>
    The contract between us for any paid-for aspects of Our Website when we receive payment from you
    for a Service.
</p>
<p>
    If we give you free access to a Service or feature on Our Website which is normally a charged
    feature, and that Service or feature is usually subject to additional contractual terms, you now
    agree that you will abide by those terms.
</p>
<p>
    We may change this agreement in any way at any time. The version applicable to your contract is
    the version which was posted on Our Website at the time that the contract was made.
</p>
<h3>3. Your Account and Personal Information</h3>
<p>
    When you visit Our Website, you accept responsibility for any action done by any person
    in your name or under your account or password. You should take all necessary steps to
    ensure that the password is kept confidential and secure and should inform us immediately
    if you have any reason to believe that your password has become known to anyone else, or if
    the password is being, or is likely to be, used in an unauthorised manner.
</p>
<p>
    You agree that you have provided accurate, up to date, and complete information about yourself.
    We are not responsible for any error made as a result of such information being inaccurate.
</p>
<p>
    You agree to notify us of any changes in your information immediately it occurs. If you do not
    do so, we may terminate your account.
</p>
<h3>4. Membership</h3>
<p>
    Our basic Service is free of charge.  You may use it subject to your compliance with the terms
    of this agreement.
</p>
<p>
    We reserve the right to modify the CrewLog Membership rules or system and to change the terms
    and conditions of this agreement at any time, without notice. Your continued use of the
    Membership after such modifications shall be deemed an acceptance by you to be bound by the
    terms of the modified agreement. The terms that apply to you are those posted here on our
    website on the day you join as a member.
</p>
<h3>5. Restrictions On What You May Post To Our Website</h3>
<p>
    We may, at our discretion, read, assess, review or moderate any Content Posted on Our Website.
    If we do, we need not notify you or give you a reason.
</p>
<p>
    You agree that you will not use, or allow anyone else to use, Our Website to Post a Content which
    is or may:
    <ul>
        <li>Be malicious or defamatory</li>
        <li>Consist in commercial audio, video or music files</li>
        <li>Be obscene, offensive, threatening or violent</li>
        <li>Be sexually explicit or pornographic</li>
        <li>
            Be likely to deceive any person, or be used to impersonate any person, or to
            misrepresent your identity, age, or affiliation with any person or organisation
        </li>
        <li>
            Give the impression that it emanates from us, or that you are connected with us, or
            that we have endorsed you or your business.
        </li>
        <li>Solicit passwords or personal information from anyone</li>
        <li>Be used to sell any goods or services or any other commercial use</li>
        <li>Include anything other than words (i.e. you will not include any symbols or photographs)</li>
        <li>Link to any of the material specified above, in this paragraph</li>
        <li>
            Cause any infringement of other people's rights, including their rights surrounding their
            personal data
        </li>
    </ul>
</p>
<p>
    In connection with the restrictions set out above, we may refuse, edit or remove a posting which
    does not comply with these terms.
</p>
<h3>6. How We Handle Your Content</h3>
<p>
    Our Privacy Policy is strong and precise.  It complies fully with the Data Protection Act, and is
    <a href="/privacy">here</a>.
</p>
<p>
    If you Post Content to any public area of Our Website it becomes available in the public domains.
    We have no control over who sees it or what anyone does with it.
</p>
<p>
    Posting content of any sort does not change your ownership of the copyright in it. We have no
    claim over it and we will not protect your rights for you.
</p>
<p>
    You understand that you are personally responsible for your breach of someone else’s intellectual
    property rights, defamation, or any law, which may occur as a result of any Content having been
    Posted by you.
</p>
<p>
    You accept all risk and responsibility for determining whether any Content is in the public domain
    and not confidential.
</p>
<p>Please notify us of any security breach or unauthorised use of your account.</p>
<h3>7. Removal Of Offensive Content</h3>
<p>
    For the avoidance of doubt, this paragraph is addressed to any person who comes on Our
    Website for any purpose.
</p>
<p>
    We are under no obligation to monitor or record the activity of any customer for any purpose,
    nor do we assume any responsibility to monitor or police Internet-related activities. However,
    we may do so without notice to you and without giving you a reason.
</p>
<p>
    If you are offended by any Content, the following procedure applies:
    <ul>
        <li>
            Your claim or complaint must be submitted to us by email.  It must include the content,
            where it is posted, and the cause of the concern.
        </li>
        <li>
            We shall remove the offending content as soon as we are reasonably able
        </li>
        <li>
            After we receive notice of a claim or complaint, we shall investigate so far as we alone
            decide
        </li>
        <li>We may re-instate the Content about which you have complained or not</li>
    </ul>
</p>
<p>
    In respect of any complaint made by you or any person on your behalf, you now irrevocably grant
    to us a licence to publish the complaint and all ensuing correspondence and communication,
    without limit.
</p>
<p>
    You now agree that if any complaint is made by you frivolously or vexatiously you will repay us
    the cost of our investigation including legal fees, if any.
</p>
<h3>8. Security Of Our Website</h3>
<p>If you violate Our Website, we shall take legal action against you.</p>
<p>
    You now agree that you will not, and will not allow any other person to
    <ul>
        <li>
            Modify, copy, or cause damage or unintended effect to any portion of Our Website, or any
            software used within it
        </li>
        <li>
            Link to Our Website in any way that would cause the appearance or presentation of Our
            Website to be different from what would be seen by a user who accessed Our Website by
            typing the URL into a standard browser
        </li>
        <li>
            Download any part of Our Website, without our express written consent
        </li>
        <li>
            Collect or use any information obtained from or about Our Website or the Content except
            as intended by this agreement
        </li>
        <li>
            Share with a third party any login credentials to Our Website
        </li>
    </ul>
</p>
<p>
    Despite the above terms, we now grant a licence to you to:
    <ul>
        <li>
            Create a hyperlink to Our Website for the purpose of promoting an interest common to both of
            us. You can do this without specific permission. This licence is conditional upon your not
            portraying us or any product or service in a false, misleading, derogatory, or otherwise
            offensive manner. You may not use any logo or other proprietary graphic or trademark of
            ours as part of the link without our express written consent.
        </li>
        <li>
            You may copy the text of any page for your personal use in connection with the purpose of
            Our Website or a Service we provide.
        </li>
    </ul>
</p>
<h3>9. Disclaimers and Limitation of Liability</h3>
<p>
    The law differs from one country to another. This paragraph applies so far as the applicable
    law allows.
</p>
<p>
    All implied conditions, warranties and terms are excluded from this agreement. If in any
    jurisdiction an implied condition, warrant or term cannot be excluded, then this sub paragraph
    shall be deemed to be reduced in effect, only to the extent necessary to release that specific
    condition, warranty or term.
</p>
<p>
    We make no representation or warranty that the Services will be:
    <ul>
        <li>Useful to you</li>
        <li>Of satisfactory quality</li>
        <li>Fit for a particular purpose</li>
        <li>Available or accessible, without interruption, or without error</li>
    </ul>
</p>
<p>
    We claim no expert knowledge in any subject. We disclaim any obligation or liability to you
    arising directly or indirectly from information you take from Our Website.
</p>
<p>
    We shall not be liable to you for any loss or expense arising out of or in connection with
    your use of Our Website, which is indirect or consequential loss, or economic loss or other
    loss of turnover, profits, business or goodwill. This applies whether in an action of contract,
    negligence or otherwise, even if such loss was reasonably foreseeable or we knew you might incur it.
</p>
<p>
    We make no representation or warranty and accept no responsibility in law for:
    <ul>
        <li>Accuracy of any Content or the impression or effect it gives</li>
        <li>Delivery of Content, material or any message</li>
        <li>Privacy of any transmission</li>
        <li>
            Any act or omission of any person or identity of any person who introduces himself
            to you through Our Website
        </li>
        <li>Any aspect or characteristic of any goods or services advertised on Our Website</li>
    </ul>
</p>
<p>
    We will do all we can to maintain access to Our Website, but it may be necessary for us to suspend
    all or part of our service for repairs, maintenance or other good reasons. We may do so without
    telling you first.
</p>
<p>
    You agree that in any circumstances when we may become liable to you, the limit of our liability
    is the amount you have paid us in the immediately preceding 12 month period for the Services
    concerned.
</p>
<p>
    This paragraph (and any other paragraph which excludes or restricts our liability or provides
    an indemnity to us) applies to our directors, officers, employees, subcontractors, agents and
    affiliated companies, as well as to us. Any of them may enforce this provision under the Contracts
    (Rights of Third Parties) Act 1999.
</p>
<p>
    If you become aware of any breach of any term of this agreement by any person, please tell us by
    emailing <a href="mailto:@ContactEmail">@ContactEmail</a>. We welcome your input but do not
    guarantee to agree with your judgement.
</p>
<p>
    Nothing in this agreement excludes liability for a party's fraud.
</p>
<h3>10. Duration and Termination</h3>
<p>
    This agreement shall operate for the period for which you have subscribed to the Membership
    Service.
</p>
<p>
    You may terminate this agreement at any time, for any reason, with immediate effect. You may
    terminate the agreement by contacting us. We reserve the right to check the validity
    of any request to terminate membership.
</p>
<p>
    We may terminate this agreement at any time, for any reason, with immediate effect by sending you
    notice to that effect by post or email.
</p>
<p>
    Termination by either party shall have the following effects:
    <ul>
        <li>Your right to use the Services immediately ceases</li>
        <li>
            We are under no obligation to forward any unread or unsent messages to you or any third party
        </li>
    </ul>
</p>
<p>
    We retain the right, at our sole discretion, to terminate any and all parts of the Services
    provided to you, without refunding to you any fees paid if we decide in our absolute discretion
    that you have failed to comply with any of the terms of this agreement.
</p>
<h3>11. Storage of Data</h3>
<p>
    We assume no responsibility for the deletion or failure to store or deliver email or other messages.
</p>
<p>
    We may, from time to time, set a limit on the number of messages you may send, store, or receive
    through the Service. We may delete messages in excess of that limit. We shall give you notice of
    any change to your limit, except in an emergency.
</p>
<p>
    You accept that we cannot be liable to you for any such deletion or failure to deliver to you.
</p>
<h3>12. Interruption to Services</h3>
<p>
    If it is necessary for us to interrupt the Services, we will give you reasonable notice where
    this is possible and when we think the down time is such as to justify telling you.
</p>
<p>You acknowledge that the Services may also be interrupted for many reasons beyond our control.</p>
<p>
    You agree that we are not liable to you for any loss, foreseeable or not, arising from any
    interruption to the Services.
</p>
<h3>13. Indemnity</h3>
<p>
    You agree to indemnify us against any loss, damage or liability, suffered by us at any time
    and arising out of:
    <ul>
        Any act, neglect or default of yours in connection with this agreement or your use of the
        Services
    </ul>
    <ul>Your breach of this agreement</ul>
    <ul>Your failure to comply with any law</ul>
    <ul>A contractual claim arising from your use of the Services</ul>
</p>
<h3>14. Dispute Resolution</h3>
<p>
    The following terms apply in the event of a dispute between the parties:
</p>
<p>
    If you are not happy with our services or have any complaint then you must tell us by
    email message to <a href="mailto:@ContactEmail">@ContactEmail</a>.
</p>
<p>
    If a dispute is not settled as set out above, we hope you will agree to attempt to resolve
    it by engaging in good faith with the other in a process of mediation or arbitration.
</p>
<h3>15. Miscellaneous Matters</h3>
<p>
    If any term or provision of this agreement is at any time held by any jurisdiction to be void,
    invalid or unenforceable, then it shall be treated as changed or reduced, only to the extent
    minimally necessary to bring it within the laws of that jurisdiction and to prevent it from
    being void and it shall be binding in that changed or reduced form. Subject to that, each
    provision shall be interpreted as severable and shall not in any way affect any other of these
    terms.
</p>
<p>
    The rights and obligations of the parties set out in this agreement shall pass to any permitted
    successor in title.
</p>
<p>
    If  you are in breach of any term of this agreement, we may:
    <ul>
        <li>Terminate your account and refuse access to Our Website</li>
        <li>Remove or edit Content, or cancel any order at our discretion</li>
        <li>Issue a claim in any court</li>
    </ul>
</p>
<p>
    Any obligation in this agreement intended to continue to have effect after termination or
    completion shall so continue.
</p>
<p>
    No failure or delay by any party to exercise any right, power or remedy will operate as a
    waiver of it nor indicate any intention to reduce that or any other right in the future.
</p>
<p>
    Any communication to be served on either of the parties by the other shall be delivered by
    hand or sent by first class post or recorded delivery or by e-mail.
</p>
<p>
    It shall be deemed to have been delivered:
    <ul>
        <li>If delivered by hand: on the day of delivery</li>
        <li>If sent by post to the correct address: within 72 hours of posting</li>
    </ul>
</p>
<p>
    This agreement does not give any right to any third party under the Contracts
    (Rights of Third Parties) Act 1999 or otherwise, except that any provision in this agreement
    which excludes or restricts the liability of our directors, officers, employees, subcontractors,
    agents and affiliated companies, may be enforced under that Act.
</p>
<p>
    Neither party shall be liable for any failure or delay in performance of this agreement which
    is caused by circumstances beyond its reasonable control.
</p>
<p>
    The validity, construction and performance of this agreement shall be governed by the laws of
    England and Wales and you agree that any dispute arising from it shall be litigated only in that
    country.
</p>

@code {
    private const string ContactEmail = $"tony.richards@sja.org.uk";
}
