@using Microsoft.AspNetCore.Authorization
@using SJAData.Client.Model
@using SJAData.Client.Model.Hours
@using SJAData.Client.Services.Interfaces

@rendermode InteractiveAuto

@inject IHoursService HoursService

@page "/hours"
@attribute [Authorize(Policy = "Approved")]

<PageTitle>SJA In Numbers - Hours</PageTitle>

<h2>Hours</h2>
<h3>
    <a href="/">
        <img src="/img/home.svg" /> Go Home
    </a>
</h3>
<h3>
    @Title
</h3>
<LinkBoxes Size="LinkBoxSize.Large">
    <LinkBox Colour="LinkBoxColour.LightGray">
        <div>Last Month</div>
        <div>0</div>
    </LinkBox>
    <LinkBox Colour="LinkBoxColour.Black">
        <div>This Month</div>
        <div>0</div>
        <div class="planned">0 Planned</div>
    </LinkBox>
    <LinkBox Colour="LinkBoxColour.DarkGreen">
        <div>Year to Date</div>
        <div>0</div>
    </LinkBox>
    <LinkBox Colour="LinkBoxColour.DarkGreen">
        <div>Target</div>
        <div>@nhseTarget</div>
    </LinkBox>
</LinkBoxes>

@code {
    private string Title => "Volunteer Activity";
    private bool isLoading = true;
    private int nhseTarget = 0;
    private HoursCount lastMonth = default;
    private HoursCount thisMonth = default;
    private HoursCount yearToDate = default;

    protected async override Task OnInitializedAsync()
    {
        isLoading = true;
        nhseTarget = await HoursService.GetNhseTargetAsync();
        lastMonth = await HoursService.CountAsync(new DateOnly(DateTime.Today.Year, DateTime.Today.Month, 1).AddDays(-1));
        thisMonth = await HoursService.CountAsync(DateOnly.FromDateTime(DateTime.Today));
        yearToDate = await HoursService.CountAsync(DateOnly.FromDateTime(DateTime.Today), DateType.Year);
    }
}
