@using Microsoft.AspNetCore.Identity
@using SJAData.Data

@page "/Account/AccessDenied"
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor ContextAccessor

<PageTitle>SJA in Numbers - Access Denied</PageTitle>

<header>
    <h2>Access Denied</h2>
    @if (isApproved)
    {
        <p>You do not have access to this item.</p>
    }
    else
    {
        <p>Your account has not been approved yet. Please contact the administrator.</p>
    }
</header>

@code {
    private bool isApproved;

    protected async override Task OnInitializedAsync()
    {
        var user = ContextAccessor.HttpContext?.User;

        if (user?.Identity?.IsAuthenticated == true)
        {
            var userItem = await UserManager.GetUserAsync(user);

            isApproved = userItem?.IsApproved ?? true;
        }
        else
        {
            isApproved = true;
        }
    }
}