@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<h2>Invalid user</h2>

<StatusMessage />

<p>
    There was an issue retrieving your user information.
    Please try again later or contact support.
</p>
