@page "/Account/InvalidUser"

<PageTitle>SJA in Numbers - Invalid User</PageTitle>

<h2>Invalid User</h2>

<StatusMessage />

<p>
    There was an issue retrieving your user information.
    Please try again later or contact support.
</p>
