.login-with-ms-button {
    background-image: url("/img/ms-symbollockup_signin_light.svg");
    border: none;
    width: 215px;
    height: 41px;
    cursor: pointer;
}

.login-with-ms {
    display: flex;
    justify-content: center;
}
