@page "/Account/Login"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using SJAData.Data

<PageTitle>SJA In Numbers - Sign In</PageTitle>

<h2>Sign In</h2>
<section>
    <h3>Use your Microsoft account to sign in:</h3>
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <AntiforgeryToken />
        <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
        <div class="login-with-ms">
            <button type="submit" class="login-with-ms-button" name="provider" value="Microsoft" title="Log in using your Microsoft account"></button>
        </div>
    </form>
</section>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }
}
