.error-message {
  color: var(--sja-yellow-text);
  background-color: var(--sja-yellow);
  font-size: 1.5rem;
  display: block;
  max-width: fit-content;
  padding: 5px;
}

.error-message-root {
  display: flex;
  justify-content: center;
}