.increase {
  color: var(--sja-dark-green-text);
  background-color: var(--sja-dark-green);
}

.drop {
  color: var(--sja-yellow-text);
  background-color: var(--sja-yellow);
}

.no-change {
  color: var(--sja-gray-text);
  background-color: var(--sja-gray);
}

.increase,
.no-change,
.drop {
  padding: var(--root-padding);
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin: var(--root-padding);
  display: inline-block;
}

.activity-trends tbody td div {
  width: 100%;
  display: inline-flex;
  justify-content: end;
  align-items: center;
}

.activity-trends tbody td:first-child {
  font-family: var(--sja-header-font);
  padding: 0 5px;
}

.activity-trends thead th {
  font-family: var(--sja-header-font);
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0 5px;
  text-align: left;
}

.line-chart {
  border: solid 1px var(--sja-light-gray);
}
